/* .container-cards_2 {
    border-radius: 10px;
    height: fit-content;
    width: 200px;
} */

div.cards_2 {
    background-color: #2a2b2a;
    border-radius: 10px;
    width: inherit;
    /* width: 350px; */
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3% 0;
    position: relative;
    overflow: hidden;
}

.left_2{
    margin-left: 6px;
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

.left_2 img{
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

.right_2{
    margin-left: 9px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    transition: 0.5s;
}

.right_2 .title{
    width: 100%;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.right_2 .singer{
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.duration{
    margin: 0 15px;
}

@keyframes swipeIn {
    0% {left: -50px;top:12px;}
    100% {left: 11px;top:12px}
}

div.cards_2:hover .hover-playbtn {
    animation: swipeIn 0.5s;
    position: absolute;
    top: 12px;
    left: 11px;
    visibility: visible;
}

div.cards_2:hover .left_2{
    translate: 50px 0px;
}

div.cards_2:hover .right_2{
    translate: 50px 0px;
}

div.cards_2:hover .duration{
    visibility: hidden;
}
/* 
.marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    animation: marquee 5s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(100%, 0); }
    99.99% { transform: translate(-110%, 0); }
    100%   { transform: translate(100%, 0); }
} */