* {
    margin: 0px;
    padding: 0px;
}

.body{
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 12;
    display: grid;
    grid-template-columns: 60% 40%;
}