* {
    margin: 0px;
    padding: 0px;
}

.main {
    display: inline;
}

.left {
    max-width: 65%;
    margin: 0px;
}

div.right {
    max-width: 30%;
    margin: 0px;
    margin-left: 40px;
}

span {
    margin-left: 30px;
}

.leave {
    height: 40px;
    width: 230px;
    margin-left: 320px;
}