.auth-form-container,
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

@media screen and (min-width: 600px) {
    .auth-form-container {
        /* padding: 3rem; */
        border: 1px solid white;
        border-radius: 10px;
        /* margin: 0.5rem; */
    }
}

label {
    /* padding: 0.25rem 0; */
    font-size: 24px;
    margin: 0px;
}

input {
    /* margin: 30px 0; */
    padding: 0.5rem 0;
    border: none;
    border-radius: 4px;
    max-width: 300px;
    align-content: center;
    align-items: center;
    float: left;
}

button {
    border: none;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    color: #7439db;
    max-width: 100px;
    height: 60px;
}

.submit_btn {
    height: 40px;
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
}

.link-btn {
    background: none;
    color: white;
    text-decoration: underline;
    max-width: max-content;
}